{{>usernavbar}}

<div class="container">
    <div class="row">
        <div class="col l7 m9 s12">
            <div class="card">
                <div class="card-content update-container">
                    <h5 class="font-slim">Update Profile</h5>
                    <hr>
                    <div class="row" style="margin: 0;">
                        <form class="col s12">
                            <div class="row">
                                <div class="col s12">
                                    <div id="update_reporter"></div>
                                </div>
                                <div class="input-field col s12">
                                    <input id="firstname" type="text" class="_validate" value="{{user_data.firstname}}">
                                    <label for="firstname" >Firstname...</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="lastname" type="text" class="_validate" value="{{user_data.lastname}}">
                                    <label for="username" >Lastname...</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="username" type="text" class="_validate" data-length="16" value="{{user_data.username}}" disabled>
                                    <label for="username" >Username...</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="email" type="text" class="_validate" value="{{user_data.email}}" disabled>
                                    <label for="email" >Email...</label>
                                </div>
                                <div class="input-field col s12">
                                    <select id="gender">
                                        <option value="none" >Choose gender</option>
                                        {{#ifSame user_data.gender 'male'}}
                                            <option value="male" selected>Male</option>
                                        {{else}}
                                            <option value="male">Male</option>
                                        {{/ifSame}}

                                        {{#ifSame user_data.gender 'female'}}
                                            <option value="female" selected>Female</option>
                                        {{else}}
                                            <option value="female">Female</option>
                                        {{/ifSame}}
                                        <!--<option value="all">All</option>-->
                                    </select>
                                    <label>My Gender</label>
                                </div>
                                <div class="input-field col s12">
                                    {{#if user_data.date_of_birth}}
                                        <input type="text" class="datepicker" id="dob" value="{{user_data.date_of_birth}}">
                                    {{else}}
                                        <input type="text" class="datepicker" id="dob">
                                    {{/if}}
                                    <label for="dob">Date of Birth</label>
                                </div>
                                <div class="input-field col s12">
                                    <select id="sexual_preference">
                                        <option value="all" >Choose Sexual Preference</option>
                                        {{#ifSame user_data.sexual_preference 'male'}}
                                            <option value="male" selected>Males</option>
                                        {{else}}
                                            <option value="male">Males</option>
                                        {{/ifSame}}

                                        {{#ifSame user_data.sexual_preference 'female'}}
                                            <option value="female" selected>Females</option>
                                        {{else}}
                                            <option value="female">Females</option>
                                        {{/ifSame}}

                                        {{#ifSame user_data.sexual_preference 'all'}}
                                            <option value="all" selected>All</option>
                                        {{else}}
                                            <option value="all">All</option>
                                        {{/ifSame}}
                                    </select>
                                    <label>Sexual Preference</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="bio" class="_validate materialize-textarea">{{user_data.biography}}</textarea>
                                    <label for="bio" >Biography...</label>
                                </div>

                                <div class="input-field col s12">
                                    <i class="material-icons prefix">add_location</i>
                                    <input type="text" id="address_autocomplete" class="autocomplete" value="{{user_data.address}}" placeholder="Enter a location">
                                    <label for="address_autocomplete">My location</label>
                                </div>
                                <div class="col s12 address_input">
                                    <input type="checkbox" id="get_my_address" />
                                    <label for="get_my_address">Auto fill location</label>
                                </div>

                                <input type="hidden" id="session" value="{{user_data.session}}">
                            </div>
                            <button class="btn btn-block waves-effect waves-light" type="submit" id="update_profile">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col l5 m9 s12">
            <!--
            <div class="card">
                <div class="card-content">
                    <h5 class="font-slim">Location</h5>
                    <hr>
                    <div class="row" >
                        <form class="">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">add_location</i>
                                <input type="text" id="address_autocomplete" class="autocomplete" placeholder="Enter a location">
                                <label for="address_autocomplete">My location</label>
                            </div>
                            <div class="col s12">
                                <input type="checkbox" id="get_my_address" />
                                <label for="get_my_address">Auto fill location</label>
                            </div>
                            <button class="btn btn-block waves-effect waves-light" type="submit" id="add_tag">Add tag</button>
                        </form>
                    </div>
                </div>
            </div>
            -->
            
            <div class="card">
                <div class="card-content">
                    <h5 class="font-slim">Tags</h5>
                    <hr>
                    <div class="row" >
                        <form class="col s12">
                            <div class="input-field col s12">
                                <input id="tag" type="text" class="_validate" value="" placeholder="eg. ...">
                                <label for="tag" >Add a tag</label>
                            </div>
                            <button class="btn btn-block waves-effect waves-light" type="submit" id="add_tag">Add tag</button>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <hr>
                            <div id="tags_container">
                                {{#if user_data.tags}}
                                    {{#each user_data.tags}}
                                        <div class="chip">
                                            {{tag}}
                                            <i class="close material-icons" onclick="delete_tag({{id}}, {{user_id}})">close</i>
                                        </div>
                                    {{/each}}
                                {{else}}
                                    <div class="chip chip-info chip-block" style="margin: 0;">You have no tags</div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card upload-profile-images">
                <div class="card-content">
                    <h5 class="font-slim">Upload Photos</h5>
                    <hr>
                    <div class="row" style="margin: 0;">
                        <div class="col s12">
                            <div id="upload_profile_images_reporter"></div>
                        </div>
                        <form class="col s12">
                            <div class="row" style="margin: 0;">
                                {{#if data.img1}}
                                    <img src="{{data.img1.url}}" class="preview-image-upload" id="profile-preview">
                                {{else}}
                                    <img src="https://www.liu-usa.com/_layouts/15/images/PersonPlaceholder.200x150x32.png" class="preview-image-upload" id="profile-preview">
                                {{/if}}
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Profile</span>
                                        <input type="file" id="img1" accept="image/png" />
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" />
                                    </div>
                                </div>

                                {{#if data.img2}}
                                    <img src="{{data.img2.url}}" class="preview-image-upload" id="img2-preview">
                                {{else}}
                                    <img src="" class="preview-image-upload" id="img2-preview">
                                {{/if}}
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Photo 1</span>
                                        <input type="file" id="img2" accept="image/png" />
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" />
                                    </div>
                                </div>

                                {{#if data.img3}}
                                    <img src="{{data.img3.url}}" class="preview-image-upload" id="img3-preview">
                                {{else}}
                                    <img src="" class="preview-image-upload" id="img3-preview">
                                {{/if}}
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Photo 2</span>
                                        <input type="file" id="img3" accept="image/png" />
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" />
                                    </div>
                                </div>
                                
                                {{#if data.img4}}
                                    <img src="{{data.img4.url}}" class="preview-image-upload" id="img4-preview">
                                {{else}}
                                    <img src="" class="preview-image-upload" id="img4-preview">
                                {{/if}}
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Photo 3</span>
                                        <input type="file" id="img4" accept="image/png" />
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" />
                                    </div>
                                </div>
                                
                                {{#if data.img5}}
                                    <img src="{{data.img5.url}}" class="preview-image-upload" id="img5-preview">
                                {{else}}
                                    <img src="" class="preview-image-upload" id="img5-preview">
                                {{/if}}
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>Photo 4</span>
                                        <input type="file" id="img5" accept="image/png" />
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>