{{>usernavbar}}

<div class="container">
    <div class="row">
        <div class="col l7 s12">
            <div class="card-panel">
                <h5>Search for your Match</h5>
                <hr>
                <form >
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="search-user" type="text" class="validate" placeholder="eg. username, firstname or lastname">
                            <label class="active" for="search">Search</label>
                        </div>
                    </div>
                </form>
                <div class="row search-results" id="search-results">
                </div>
            </div>
            <div class="card-panel">
                <h5>My Connections</h5>
                <hr>
                {{#if data}}
                    {{#each data}}
                        {{#ifSame user_id ../user_data.id}}{{else}}
                            <div class="connections collection">
                                <a href="/profile/{{username}}" class="collection-item">
                                    {{username}}
                                    <span class="badge">
                                        <div class="user-offline" id="{{username}}-online"></div>
                                    </span>
                                </a>
                            </div>
                        {{/ifSame}}
                    {{/each}}
                {{else}}
                    <div class="alert alert-info">
                        No connections to start chats
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="col l5 s12">
            {{>suggestions}}
        </div>
    </div>
</div>