{{>usernavbar}}

<div class="container messager">
    <div class="row">
        <div class="col xl3 l2 m1 s12"></div>
        <div class="col xl6 l8 m10 s12 inner">

            <input type="hidden" id="session" value="{{user_data.session}}">

            {{#if data}}
                {{#each data}}
                    {{#ifSame user_id ../user_data.id}}{{else}}
                        {{#if bloked_user}}
                        {{else}}
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header" id="header_{{user_id}}"  onclick="ready_chat('header_{{user_id}}', {{user_id}}, {{../user_data.id}})" >
                                        {{#if profile_url}}
                                            <div class="img" style="background-image: url('{{profile_url}}')"><div class="user-offline" id="{{username}}-online"></div></div>
                                        {{else}}
                                            <div class="img" style="background-image: url('https://www.liu-usa.com/_layouts/15/images/PersonPlaceholder.200x150x32.png')"><div class="user-offline" id="{{username}}-online"></div></div>
                                        {{/if}}
                                        
                                        <span><a href="/profile/{{username}}">{{username}}</a></span>
                                        <!--<small class="text-mute align-right user-offline" id="{{username}}-online">Online</small>-->
                                    </div>
                                    
                                    <div class="collapsible-body" >
                                        <div class="chat" id="chat_with_{{user_id}}">
                                            <!--<div class="mssg loading"><p class="text-mute">Loading...</p></div>-->
                                            <!--<div class="mssg other">
                                                <p>
                                                    Hello
                                                    <small class="chat-date text-mute">2017-11-30 13:46:50</small>
                                                </p>
                                            </div>
                                            <div class="mssg user">
                                                <p>
                                                    Mmm...
                                                    <small class="chat-date text-mute">2017-11-30 14:46:50</small>
                                                </p>
                                            </div>-->
                                        </div>
                                        <!--<small class="reporter text-mute">User is typing...</small>-->
                                    </div>
                                    <div class="collapsible-body input">
                                        <form>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input type="text" class="mssg_input" id="mssg_input_{{user_id}}">
                                                    <label for="autocomplete-input">Message</label>
                                                </div>
                                            </div>
                                            <div class="btn btn-block" onclick="send_message({{../user_data.id}}, {{user_id}})">Send</div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        {{/if}}
                    {{/ifSame}}
                {{/each}}
            {{else}}
                <div class="alert alert-info">
                    No connections to start chats<br>
                    <small>How about you search for your match: <a href="/connections">click here</a></small>
                </div>
            {{/if}}
        </div>
    </div>
</div>